body {
  margin: 0 0;
}

.header {
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
}

.header .nav {
  minwidth: 100%
}

.nav-bar {
  display: flex;
  justify-items: center;
  border: 3px solid pink;
}

.logo {
    display: flex;
    border: 3px solid green;
    align-items: center;
}

.logo p {
  padding: 0 10px;
  color: MediumAquamarine;
}

.links {
  display: flex;
  border: 3px solid violet;
  flex-grow: 4;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
}

.links span {
  list-style: none;
  margin: 5px 10px;
  padding: 7px 15px;
  border: 3px solid burlywood;
  border-radius: 7px;
}